In [1]:
import json
import requests
import sys, os
import win32serviceutil
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET
from datetime import datetime
from requests.auth import HTTPDigestAuth
from requests_toolbelt.multipart import decoder
from IPython.display import clear_output

In [2]:
# get dir path

path = os.getcwd() + '\\marklogic_queries'
files = os.listdir(path)
print(path)

C:\Users\ahmad\Desktop\adb_project\marklogic_performance_test\marklogic_queries

In [3]:
# function to get full abosolute path files in directory

def get_absolute_path(d):
    return [os.path.join(d, f) for f in os.listdir(d)]

In [4]:
# get full abosolute path files in directory

files_abs_path = [p.replace('\\', '/') for p in get_absolute_path(path)]
print("Total files:", len(files_abs_path))
print("First few files...")
files_abs_path[:5]

Total files: 16
First few files...

['C:/Users/ahmad/Desktop/adb_project/marklogic_performance_test/marklogic_queries/query-03.txt',
 'C:/Users/ahmad/Desktop/adb_project/marklogic_performance_test/marklogic_queries/query-04.txt',
 'C:/Users/ahmad/Desktop/adb_project/marklogic_performance_test/marklogic_queries/query-05.txt',
 'C:/Users/ahmad/Desktop/adb_project/marklogic_performance_test/marklogic_queries/query-06.txt',
 'C:/Users/ahmad/Desktop/adb_project/marklogic_performance_test/marklogic_queries/query-07.txt']

In [5]:
# setup dataframe for recording query execution run times

query_name_list = []

for i in range(len(files)):
    query_name_list.append("Q" + files[i][-6:-4])
    
query_name_dict = {'query': query_name_list}
exec_details_df = pd.DataFrame(query_name_dict)

In [6]:
# get the date-time before all 99 queries have run (with iterations if chosen)

run_start_default = datetime.now()
# dd/mm/YY H:M:S
run_start = run_start_default.strftime("%d/%m/%Y %H:%M:%S")
print("Overall Run Start:", run_start)

Overall Run Start: 10/12/2022 22:45:20

In [7]:
# function to run the xquery on marklogic server through REST API

def run_ml_xquery(req, session, query):
        # get payload & uri
        payload = {req.scheme: query}
        uri = 'http://%s:%s/v1/eval' % (req.hostname,req.port)
        
        exec_start = datetime.now()
        # run the xquery
        r = session.post(uri, data=payload)
        exec_end = datetime.now()
        
        exec_run_time = "{:.2f}".format((exec_end - exec_start).total_seconds() * 1000)
        
        multipart_data = None
        if r.status_code == 200 and 'Content-Type' in r.headers:
            if r.headers['Content-Type'].startswith("multipart/mixed"):
                multipart_data = decoder.MultipartDecoder.from_response(r)

        return multipart_data, exec_run_time

In [8]:
# function to run all the queries with multiple iterations to record the execution time, and save output to file

def performance_test(sf, n_iterations, req, session, service_name):
    for idx in range(1, n_iterations + 1):
        
        clear_output(wait = True)
        print(f'Iteration {idx}\n')
        
        q_errors = 0
        exec_details = []
        iteration_start = datetime.now()
        
        # run xquery
        for query_file in files_abs_path:
            query_num = query_name_list[files_abs_path.index(query_file)]
            try:
                query = open(query_file, "r").read()
                multipart_data, exec_run_time = run_ml_xquery(req, session, query)
            except Exception as e:
                q_errors += 1
                print(f'{query_num}: Error, Message: {e}')
            else:
                print(f'{query_num}: Success, Execution Time: {exec_run_time} ms')
                exec_details.append(exec_run_time)

            # save output as file
            if (idx == 1) and (multipart_data != None) and (int(query_num[1:]) == 3 or int(query_num[1:]) > 5):
                output = []
                for part in multipart_data.parts:
                    ctype = part.headers[b'Content-Type']
                    data = part.content.decode('UTF-8')

                    if ctype == b'application/json':
                        data = json.loads(part.content)
                    elif ctype == b'application/xml':
                        data = ET.tostring(ET.fromstring(part.content))
                    else:
                        data = part.content

                    output.append(data)

                if ctype == b'application/json':
                    json_data = json.dumps(output, ensure_ascii = False, indent = 1)
                    json_file = open(f"{sf}/{query_num}.json", "w", encoding = 'UTF-8')
                    json_file.write(json_data)
                    json_file.close()
                elif ctype == b'application/xml':
                    with open(f"{sf}/{query_num}.xml", "a", encoding = 'UTF-8') as xml_file:
                        for i in range(len(output)):
                            xml_file.write(output[i].decode('UTF-8') + '\n')
                        xml_file.close()
                else:
                    with open(f"{sf}/{query_num}.txt", "a", encoding = 'UTF-8') as txt_file:
                        for i in range(len(output)):
                            txt_file.write(output[i].decode('UTF-8') + '\n')
                        txt_file.close()
            
        iteration_end = datetime.now()    
        iteration_run_time = "{:.2f}".format(((iteration_end - iteration_start).total_seconds()) / 60)
        print(f'\n{sf.upper()}, Iteration {idx}, Total run time for all the queries: {iteration_run_time} mins')
        
        # append iteration execution details to dataframe
        exec_details_df[f'exec_time_iter_{idx}'] = np.array(exec_details)
        
        # win32serviceutil.RestartService(service_name)
        
    return exec_details_df, q_errors

In [9]:
# set initial variables
sf = 'sf_6'
n_iterations = 3
conn = f'xquery://ahmad:hope@localhost:802{sf[-1]}'
req = requests.utils.urlparse(conn)
session = requests.session()
session.auth = HTTPDigestAuth(req.username,req.password)
service_name = "MarkLogic"

In [10]:
# run perforrmance test

exec_details_df, q_errors = performance_test(sf, n_iterations, req, session, service_name)

Iteration 3

Q03: Success, Execution Time: 78.86 ms
Q04: Success, Execution Time: 65542.72 ms
Q05: Success, Execution Time: 266476.89 ms
Q06: Success, Execution Time: 141.22 ms
Q07: Success, Execution Time: 3244.55 ms
Q08: Success, Execution Time: 6516.28 ms
Q09: Success, Execution Time: 11613.95 ms
Q10: Success, Execution Time: 5775.17 ms
Q11: Success, Execution Time: 258.65 ms
Q12: Success, Execution Time: 15373.80 ms
Q13: Success, Execution Time: 56.50 ms
Q14: Success, Execution Time: 260.87 ms
Q15: Success, Execution Time: 1140.96 ms
Q16: Success, Execution Time: 2103.40 ms
Q17: Success, Execution Time: 762.28 ms
Q18: Success, Execution Time: 24225.67 ms

SF_6, Iteration 3, Total run time for all the queries: 6.74 mins

In [11]:
# check total amount of query errors

print(f"We have a total of {q_errors} queries with error")

We have a total of 0 queries with error

In [12]:
# get the date-time after all queries have run (with iterations if chosen)
run_end_default = datetime.now()

# dd/mm/YY H:M:S
run_end = run_end_default.strftime("%d/%m/%Y %H:%M:%S")
print(f"Overall Run End (with {n_iterations} iterations):", run_end)

Overall Run End (with 3 iterations): 10/12/2022 23:05:11

In [13]:
# get the total run time (in hours) for all queries to complete (with iterations if chosen)

total_run_time = "{:.2f}".format(((run_end_default - run_start_default).total_seconds()) / 3600)
print(f'Total run time for the 99 queries (with {n_iterations} iterations): {total_run_time}hr')

Total run time for the 99 queries (with 3 iterations): 0.33hr

In [14]:
# full details on query execution times (including iterations & average)
# load execution details to csv

exec_details_df['avg_exec_time'] = np.round(exec_details_df.iloc[:, 1:].apply(pd.to_numeric).mean(axis = 1), 2)
exec_details_df.to_csv(f'{sf}/exec_time_details_{sf}.csv', index = False)
exec_details_df

   query exec_time_iter_1 exec_time_iter_2 exec_time_iter_3  avg_exec_time
0    Q03           387.16            89.42            78.86         185.15
1    Q04         77838.64         70397.43         65542.72       71259.60
2    Q05        243841.46        243944.29        266476.89      251420.88
3    Q06           166.87           157.08           141.22         155.06
4    Q07          3256.46          3131.47          3244.55        3210.83
5    Q08          6596.90          6580.93          6516.28        6564.70
6    Q09         14047.04         11525.94         11613.95       12395.64
7    Q10          5790.99          5738.14          5775.17        5768.10
8    Q11           244.02           245.03           258.65         249.23
9    Q12         17715.91         15157.02         15373.80       16082.24
10   Q13            78.52            47.27            56.50          60.76
11   Q14           258.99           238.31           260.87         252.72
12   Q15          1093.18          1054.15          1140.96        1096.10
13   Q16          2028.62          2028.78          2103.40        2053.60
14   Q17           738.32           772.82           762.28         757.81
15   Q18         25956.88         24148.48         24225.67       24777.01

## End.