In [1]:
# importing libraries
import pandas as pd
import json

In [2]:
# reading reviews file
df = pd.read_csv('D:\\ADB\\sf_csv\\reviews_1.csv', delimiter = '~')
df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [3]:
# creating copy of original dataframe
newdf = df.copy(deep = True)
newdf.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [4]:
# dropping current review ids
newdf = newdf.drop('review_id', axis=1)
newdf

,user_id,business_id,stars,useful,funny,cool,text,date
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...
995,syyKcKPFILDysHWmtka-aA,1_hDCN3iioFR3XnUr32ZtA,5.0,0,0,0,I Recently vacationed in St. Petersburg with m...,2014-06-28 03:00:56
996,_lgLNzpzf3qmbwySBakxEw,5RzJ2bjU8bLSaN5SuiUpYA,4.0,1,0,1,Very cool bar attached to the Alexander Hotel....,2016-01-17 16:45:19
997,Sh_vUlHHY2Kuj14eF8NYZQ,s1PNBO9o5jIgNd5YWUDLXQ,5.0,1,0,0,This hotel is a gem in the heart of Philadelph...,2016-02-23 21:31:39
998,YwMD-AVT67fmYRGxnlRSPA,alUk6OwNhofyc90NDMDY-Q,5.0,7,1,0,Was taken here today by a Colombian friend who...,2010-08-22 01:54:23
999,WKe2b_EeLBnZ3lZV5WKYGQ,-Or44IdY51Ukd618kikmtA,4.0,0,0,0,My friends and I all got one of each that were...,2016-07-25 06:28:49

Generating review_ids for:

Insertion Set 1: contains reviews with 1 million reviews

Insertion Set 2: contains reviews with 5 million reviews

Insertion Set 3: contains reviews with 10 million reviews

Insertion Set 4: contains reviews with 20 million reviews

Code to load json data to dataframe
def load_json_df(file):
    data_file = open(f'D:\\ADB\\ArangoDB\\{file}.json', encoding= 'utf8')
    data = []
    for line in data_file:
        data.append(json.loads(line))
    data_file.close()
    df = pd.DataFrame(data)
    return df

# Code to test loading json data to dataframe
try1 = load_json_df('insertBulk_1Mil')
print(try1.head())

In [5]:
# 1 million bulk insertion
reviewdf_1Mil = newdf.loc[newdf.index.repeat(1000)].reset_index(drop=True)

reviewIDData = []
for i in range(1000000):
    reviewIDData.append('sample_review_id'+str(i+1))
print(len(reviewIDData))

assert(len(reviewIDData) == 1000000)

reviewdf_1Mil["review_id"] = reviewIDData

reviewdf_1Mil.to_json('insertBulk_1Mil.json', orient = 'records', lines = True)

print(reviewdf_1Mil.head())

1000000
                  user_id             business_id  stars  useful  funny  cool  \
0  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw    3.0       0      0     0
1  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw    3.0       0      0     0
2  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw    3.0       0      0     0
3  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw    3.0       0      0     0
4  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw    3.0       0      0     0

                                                text                 date  \
0  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11
1  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11
2  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11
3  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11
4  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11

           review_id
0  sample_review_id1
1  sample_review_id2
2  sample_review_id3
3  sample_review_id4
4  sample_review_id5

# Future scope - 5 million bulk insertion
reviewdf_5Mil = newdf.loc[newdf.index.repeat(5000)].reset_index(drop=True)

reviewIDData = []
for i in range(5000000):
    reviewIDData.append('sample_review_id'+str(i+1))
print(len(reviewIDData))

assert(len(reviewIDData) == 5000000)

reviewdf_5Mil["review_id"] = reviewIDData

reviewdf_5Mil.to_json('insertBulk_5Mil.json', orient = 'records', lines = True)

print(reviewdf_5Mil.head())

# Future scope - 10 million bulk insertion
reviewdf_10Mil = newdf.loc[newdf.index.repeat(10000)].reset_index(drop=True)

reviewIDData = []
for i in range(10000000):
    reviewIDData.append('sample_review_id'+str(i+1))
print(len(reviewIDData))

assert(len(reviewIDData) == 10000000)

reviewdf_10Mil["review_id"] = reviewIDData

reviewdf_10Mil.to_json('insertBulk_10Mil.json', orient = 'records', lines = True)

print(reviewdf_10Mil.head())

# Future scope - 20 million bulk insertion
reviewdf_20Mil = newdf.loc[newdf.index.repeat(20000)].reset_index(drop=True)

reviewIDData = []
for i in range(20000000):
    reviewIDData.append('sample_review_id'+str(i+1))
print(len(reviewIDData))

assert(len(reviewIDData) == 20000000)

reviewdf_20Mil["review_id"] = reviewIDData

reviewdf_20Mil.to_json('insertBulk_20Mil.json', orient = 'records', lines = True)

print(reviewdf_20Mil.head())

END OF SCRIPT